body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../Fotos/fondo.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-family: 'Dancing Script', cursive; 

}

header img {
   width: 100%;
    max-height: 150px; /* Ajusta la altura máxima  */
    height: auto;
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s; /* Añadido para transición de color al pasar el ratón */
}

nav a:hover {
    color: #ff8000; /* Color naranja al pasar el ratón */
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0; /* Mantiene el footer en la parte inferior */
    width: 100%;
}

footer a {
    color: #ff8000; /* Color naranja para el enlace en el footer */
    text-decoration: underline;
}

/* Agregado el estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Ajusta según tus necesidades */
    margin: auto;
    border: 2px solid black; /* Agregado para crear un borde negro */
    padding: 20px; /* Ajusta según tus necesidades */
    border-radius: 8px; /* Ajusta según tus necesidades */
 
}


form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

label {
    width: 150px; /* Ajusta según tus necesidades */
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
textarea:focus::placeholder {
    color: transparent; /* Oculta el placeholder al enfocar el campo */
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: #aaa; /* Color gris claro para el placeholder */
}

button {
    margin-top: 10px;
}
